@import '../../sass/functions.scss';
@import '../../sass/variables.scss';

.all-home {
  @include flexBox(row, center);
  color: $darkerOpaqueBlue;
  font-family: $font-roboto-light;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    font-family: $font-roboto-bold;
    border-bottom: 2px solid $blue;
    text-align: left;
    padding: 8px;
  }
  .align-text {
    text-align: center;
  }

  .content-flex {
    width: $widthPagePorcentage;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .all-home {
    font-size: 12px;
  }
}
