@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: RobotoLight;
  src: url('../assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: RobotoThin;
  src: url('../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('../assets/fonts/Roboto-Bold.ttf');
}

$font-roboto: 'Roboto';
$font-roboto-light: 'RobotoLight';
$font-roboto-bold: 'RobotoBold';
$font-roboto-thin: 'RobotoThin';

/*Colors*/

$white: #ffffff;
$opaqueBlue: #536b7a;
$grayBlue: #9aaebb;
$black: #012433;
$blue: #0b749b;
$darkerOpaqueBlue: #386071;
$lightGrayBlue: #78849eb9;
$purpleBlue: #78849e;
$gray: #718fa2;
$linkBlue: #00baff;

/*Font Size*/

$xs: 10px;
$sm: 12px;
$md: 14px;
$lg: 20px;
$xl: 30px;

/*breakpoints*/
$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;

/*Page size porcentage*/

$widthPagePorcentage: 80%;
