@import '../../sass/functions.scss';
@import '../../sass/variables.scss';

.all-table-item {
  td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 20px 10px;
  }

  .align-text {
    text-align: center;
  }

  .eye {
    cursor: pointer;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .all-table-item {
    font-size: 12px;
  }
}
